/*
   *******************************
   Activités
   *******************************
*/

.activites {
    width: 100%;
    margin-bottom: 35px;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 33px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.activites-cards .card-subtitle {
    margin: 0;
}