/*
   *******************************
   Card
   *******************************
*/

.section-title {
    margin: 0;
    font-size: 1.375rem;
}

.card {
    background-color: var(--white);
    border-radius: 1.25rem;
    padding: 0.313rem;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

/*
   *******************************
   Hébergements & populaires - Mettre dans style
   *******************************
*/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*
   *******************************
   Hébergements
   *******************************
*/
.hebergements {
    width: 65%;
    margin-bottom: 60px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 20px;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
    /* Empêche le texte de passer à la ligne */
    overflow: hidden;
    /* Cache le texte qui dépasse */
    text-overflow: ellipsis;
    /* Ajoute des points de suspension pour indiquer que le texte est tronqué */
    font-size: 0.875rem;
    font-weight: bold;
}

.hebergements-cards .card-subtitle {
    font-size: 0.875rem;
    font-weight: normal;
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/*
   *******************************
   Populaires
   *******************************
*/
.populaires {
    width: 32%;
    margin-bottom: 60px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 35px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    font-size: 0.875rem;
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    font-size: 0.875rem;
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*
   *******************************
   Petits écrans (téléphones, ≤ 768px maximum)
   *******************************
*/
@media (max-width: 767.98px) {
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    /* Hébergements */
    .hebergements {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .hebergements-cards a {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
    }

    /* Populaires */
    .populaires {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
}