/*
   *******************************
   Filtres
   *******************************
*/

.filtres {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 2.188rem;
}

/* Bouton */
.filtres button {
    display: flex;
    align-items: center; 
    border: solid; border-color: var(--main-bg-color); border-width: 0.12rem; border-radius: 1.25rem; /* Paramètre des bouton */
    padding: 10px; 
    background-color: var(--white);
    font-size: 0.84rem;
    font-weight: bold;
}

.filtres button:hover {
    background-color: var(--filter-bg-color); /* Couleur au survol */
    cursor: pointer; /* Effet sur le pointeur  au survol */
}

/* Icon */
.filtres button i {
    margin-right: 0.84rem;
    font-size: 1rem;
}

/*
   *******************************
   Petits écrans (téléphones, ≤ 768px maximum)
   *******************************
*/
@media (max-width: 767.98px) {
/* Bouton - Filtres */
.filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.filtres p {
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    margin-bottom: 1.875rem;
}
}
