/*
   *******************************
   Footer
   *******************************
*/

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
    padding-bottom: 30px;
}

/*********** Sections du footer ***********/
footer .footer-section {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 130px;
    margin: 30px;
}

footer .footer-section p {
    line-height: 0;
}