/*
   *******************************
   Header
   *******************************
*/

header {
    display: flex;
    justify-content: space-between;
    /* centre les éléments horizontalement */
    margin: 0 0 35px 0;
}

/* Logo */
.logo {
    margin-left: 5px;
    width: 61px;
    height: 19px;
    margin-top: 12px;
}

/* Menu */
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    color: var(--black);
    border-top: 3px solid transparent;
}

.menu-item:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

nav ul {
    display: flex;
    list-style-type: none;
    /* Masque la liste bull ou autre */
    padding: 0;
    margin: 0;
}

/* Pas de marge pour le dernier élément */
nav ul li:not(:last-child) {
    margin-right: 20px;
}